
body{ 

    background-color: white;

}

header{

    display: flex;
    flex-direction: row;
    text-align: center;
    

}


header img{
    float: left;
}


main{
    display: flex;
    flex-direction: row;
}